@import '../../styles/variables';

.landing-page {
  display: grid;
  grid-template-columns: auto;
  min-height: 100vh;
  background-color: $landing-page-background;
}

.landing-page__hero-section {
  position: relative;
  display: grid;
  min-height: 450px;
  max-height: 60vh;
  padding: 84px 84px 10vw;
  overflow: hidden;
  color: $white;
  background: linear-gradient(180deg, #206bbd 2%, rgba(249, 252, 255, 0) 80%),
    linear-gradient(180deg, #007bff00 5%, #007bff 80%);
  grid-gap: 20px;
  grid-template-columns: 1fr auto 1fr;

  &::after {
    position: absolute;
    // Otherwise blue background shows one pixel underneath the wave.
    bottom: -2px;
    width: 102%;
    height: 120px;
    pointer-events: none;
    content: '';
    background-image: url('./wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 1685px) {
  .landing-page__hero-section::after {
    background-position: bottom;
    background-size: 103%;
  }
}

.landing-page__heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 1px;
}

.landing-page__sub-heading {
  text-align: left;
}

.landing-page__simulate-link {
  padding: 18px 60px;
  font-size: 16px;
  font-weight: 700;
  color: $black;
  background-color: $white;
  border-radius: 500px;
  align-self: end;
  justify-self: center;
  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
    transform: scale(1.1);
  }
  &:active {
    transform: scale(0.99);
  }
}

.landing-page__wave {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: $landing-page-background;
  pointer-events: none;
  background: transparent;
  transform: scaleX(6);
}

.landing-page__promo-image {
  position: absolute;
  top: 42px;
  right: 42px;
  width: 600px;

  @media (max-width: 1645px) {
    width: 450px;
  }
}

.landing-page__content-section {
  // put on top of svg wave
  z-index: 2;
  display: flex;
  padding: 0 84px 20px;
  // move closer to the wave. Based on screen width.
  // This prevents excessive white space.
  margin-top: -3vw;
  flex-direction: column;
  align-items: center;
}

.landing-page__content-section-text {
  flex: 1;
  max-width: 400px;
}

.skip-landing-page-label {
  margin-left: 0.5rem;
  font-size: 12px;
}

@media (max-width: 768px) {
  .landing-page__hero-section {
    min-height: 350px;
    padding: 40px 40px 10vw;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .landing-page__simulate-button {
    margin: 30px 0 40px;
  }

  .landing-page__promo-image {
    position: unset;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .landing-page__content-section {
    padding: 20px 40px;
  }
}
