@import '../styles/variables';

.language-switcher {
  .language-switcher-menu.dropdown-menu {
    background-color: $body-background;
  }

  .language-switcher-flag {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    background-size: cover;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #2222;
  }
}
