@import '../styles/variables';

.form-main {
  .animate-flex-width {
    transition: flex-basis 250ms ease, width 250ms ease, max-width 250ms ease; // stylelint-disable-line plugin/no-low-performance-animation-properties
  }

  .card {
    background-color: transparent;

    h2 {
      font-size: 1.5rem;
      color: $black;
      letter-spacing: 0.33em;
      vertical-align: middle;
    }

    h3 {
      font-size: 1.1rem;
    }

    .card.card-results h3 {
      margin-top: 1em;
      margin-bottom: 0;
      color: $black;
    }
  }

  .card-header.card-with-controls-header,
  .card-header.card-header-collapsible {
    padding: 0.4rem 1rem;
    background-color: $gray-700;

    h2 {
      color: $gray-700;
    }

    h3,
    p {
      color: $gray-200;
    }

    h2,
    h3 {
      text-transform: uppercase;
    }

    label {
      margin: 0;
    }
  }

  .card-header-button {
    width: 100%;
    height: 100%;
  }

  .card-body.card-with-controls-body {
    padding: 1rem;
  }

  .card-scenario,
  .card-results {
    margin-top: 1em;
    border: 0;
    box-shadow: none;

    > .card-header {
      min-height: 60px;
      padding: 10px auto;
      color: $gray-600;
      background-color: transparent;
      border-bottom: 2px solid $gray-600;

      label {
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    > .card-body,
    > .collapse > .card-body {
      padding: 0;
      margin-top: 10px;
    }
  }

  .btn-results-expand {
    width: 45px;
    height: 45px;
  }

  .row-scenario-title,
  .row-scenario-population-epidemiological,
  .row-scenario-mitigation,
  .row-scenario-severity,
  .row-results-trajectories,
  .row-results-age-distribution,
  .row-results-outcomes-table,
  .row-results-outcomes {
    margin-bottom: 0.66em;
  }

  .card-population,
  .card-epidemiology,
  .card-mitigation,
  .card-severity,
  .card-trajectories,
  .card-age-distribution,
  .card-outcomes-table,
  .card-outcomes {
    margin-right: 0.25em;
    margin-left: 0.25em;
    background-color: $gray-100;

    .card-body .row {
      align-items: center;
      display: flex;
      margin-bottom: 0.5em;
    }
  }

  .row.row-form-main {
    margin-right: -5px;
    margin-left: -5px;

    > .col,
    > [class*='col-'] {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}
