@import '../styles/variables';
@import '../styles/mixins';

.mitigation-table-wrapper {
  width: 100%;

  .form-group {
    padding: 4px 2px;
    margin-bottom: 10px;
    border: $gray-500 solid 1px;
  }

  .table-controls {
    display: flex;
    justify-content: flex-end;
  }
}

.mitigation-interval {
  display: flex;
  width: 100%;
}

.mitigation-item {
  padding: 1em;
  margin: 0.5em 0.25em;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 2px $gray-400;
}

.mitigation-item-container {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.mitigation-item-datum {
  margin-bottom: 1em;
}

.mitigation-item-name-wrapper {
  min-width: 140px;
  margin-right: 1em;
  flex: 6;
}

.mitigation-item-time-range-wrapper {
  min-width: 120px;
  margin-right: 1em;
  flex: 4;
}

.mitigation-item-efficiency-wrapper {
  min-width: 200px;
  margin-right: 1em;
  flex: 4;
}

.mitigation-item-controls {
  width: 50px;
  flex: 0;

  .mitigation-item-btn-remove {
    svg {
      fill: $gray-600;
    }
  }
}
