@use "sass:map";

@import '../styles/variables';

$lg: map.get($grid-breakpoints, 'lg');

.url-text-input.form-control {
  min-height: 45px;
  font-family: $font-family-monospace;
  background-color: $white;
}

.url-copy-button {
  min-width: 120px;
  min-height: 45px;
}

.btn-sharing {
  min-width: 100px;
  min-height: 100px;
}

.shareable-link-explanation {
  @media screen and (min-width: $lg) {
    width: 75%;
  }
}
