@import '../styles/variables';

.navbar {
  min-width: 2em;
  box-shadow: 2px 2px 5px 5px $gray-400;

  &.navbar-dark.bg-dark {
    background-color: $gray-800 !important;
  }

  .navbar-brand {
    padding: 0;
  }
}

.navbar-scroll {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.navigation-bar-product-logo {
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

.navigation-bar-company-logo {
  width: 26px;
  height: 26px;
}
