@import '../styles/variables';
@import '../styles/mixins';

@media not print {
  .outcomes-table-wrapper {
    &:not(.print-preview) {
      height: 500px;
      overflow: auto;
    }
  }

  .outcomes-table {
    &:not(.print-preview) {
      min-width: 800px;
      table-layout: fixed;
    }

    th,
    td,
    tr {
      text-align: center;
      vertical-align: middle;
    }
  }

  .outcome-table-th {
    text-align: center;
  }

  .outcome-table-th-date {
    width: 9rem;
  }
}

.bg-severe {
  background-color: #fb9a991a;
}

.bg-critical {
  background-color: #e31a1c1a;
}

.bg-overflow {
  background-color: #900d2c1a;
}

.bg-fatality {
  background-color: #5e506a1a;
}

.bg-recovered {
  background-color: #33a02c1a;
}
