3rdparty
\.build
\.cache
\.circleci
\.env
\.git
\.github
\.github
\.idea
\.ignore
\.reports
\.vscode
\.vscode
cypress
data
node_modules
public
schemas
src/.generated
src/assets
src/i18n/resources
styles
tsconfig.json
