\.build
\.cache
\.env
\.output
\.reports
node_modules

# Ignore compiled python
*.pyc
tools/__pycache__

# Ignore vim temporary files
*.swp

# Ignore VSCode configuration files
.vscode/

# Ignore log files
*log