*.pyc
*.swp
*log
.DS_Store
\.build
\.cache
\.env
\.generated
\.idea
\.output
\.reports
\.vscode
cypress/screenshots
cypress/videos
data/generated
data/parsers.log
data/raw_data
node_modules
src/.generated/latest
