*.lock
*.log
\.build
\.cache
\.editorconfig
\.env
\.git
\.gitignore
\.ignore
\.prettierignore
\.reports
\.vscode
data/**/*.csv
data/**/*.json
data/**/*.tsv
data/case-counts
data/hospital-data
node_modules
src/.generated
src/assets/data/**/*.json
