# Don't check for updates of yarn itself
disable-self-update-check true

# Install exact versions (not prefixed with '^')
save-prefix ""

# Don't run post-install scripts (for security reasons)
--install.ignore-scripts true
--add.ignore-scripts true
--remove.ignore-scripts true

# Don't check Node version
ignore-engines true

# Keep yarn cache locally for faster and more reproducible builds
cache-folder ".cache/yarn"
