$radius: 16px;
$color: #787878;

.help-button {
  display: flex;
  width: $radius;
  height: $radius;
  padding: 0;
  background-color: $color;
  border: 0;
  border-radius: $radius / 2;
  align-items: center;
  justify-content: center;
}

.help-button-icon {
  font-size: $radius / 2;
}
