.range-input {
  position: relative;
  .hint {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.35);
    left: 0px;
    pointer-events: none;
    position: absolute;
    top: 0px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    height: 38px;
    line-height: 24px;
    margin: 0px;
    padding: 6px 12px;
  }
}
