@import '../../../styles/variables';

// HACK: find a way to override these styles without `!important`
.dx-g-bs4-header-cell {
  max-width: 30px !important;
  padding: 0 !important;
  text-align: center;
  text-wrap: normal !important;
}

// HACK: find a way to override these styles without `!important`
.dx-g-bs4-table-cell {
  max-width: 30px !important;
  padding: 0 !important;
  text-align: center !important;
}

.table {
  //max-width: 30px !important;
  min-width: 100px !important;
}

.table-cell-editable {
  width: 75%;
  min-width: 50px;
  max-width: unset !important;
  border: 1px solid $gray-300;

  &:focus {
    border: 1px solid $info;
  }
}

.table-cell-editable-input {
  width: 75%;
  min-width: 50px;
  padding: auto 1px;
  border: 1px solid $gray-300;
  outline: none;
}
