/*

This file sets all needed CSS to have nice things to print out
directly from the browser (or say, export as PDF)

Note that if you want to prevent an element from being printed
you can just add the CSS class "d-print-none"

On the contrary, if you want to set an element that will be only
printed, but never displayed, you want use both classes :
"d-none d-print-block"

More info on https://getbootstrap.com/docs/4.0/utilities/display/

*/

@import '../../../styles/variables';

.container-print {
  background-color: #ffffff;

  .page {
    @media not print {
      margin-top: 3em;
    }
  }

  h1.heading-main {
    margin-top: 3em;
  }

  .table-parameters,
  .table-result {
    tr,
    td,
    th {
      border: 1px solid $gray-500;
    }

    th {
      text-align: center;
      vertical-align: middle;
      padding-top: auto;
      padding-bottom: auto;
    }
  }

  .table-result {
    table-layout: fixed;

    th {
      text-align: center;
      vertical-align: middle;
      padding-top: auto;
      padding-bottom: auto;
    }

    td {
      text-align: right;
      vertical-align: middle;
      padding: 2px 4px;
    }
  }
}

@media print {
  @page {
    //      top right bottom left
    margin: 20mm 25mm 20mm 35mm;
    background-color: #ffffff;
  }

  .row {
    display: block;
  }

  //h1,
  //h2 {
  //  margin-top: 1cm;
  //}
  //
  //h3 {
  //  margin-top: 20px;
  //}

  //@media print {
  //  max-width: 17cm;
  //}

  //.p-logo {
  //  width: 100%;
  //
  //  & > img {
  //    width: 10cm;
  //    height: 10cm;
  //    margin-right: auto;
  //    margin-bottom: 1cm;
  //    margin-left: auto;
  //  }
  //}

  //.h-100 {
  //  height: auto !important;
  //}
  //
  //.modal-backdrop {
  //  display: none;
  //
  //  &.show {
  //    display: none;
  //  }
  //}

  //.row {
  //  display: block;
  //}

  //.tableResult {
  //  width: 100%;
  //
  //  & > table {
  //    width: 100%;
  //    margin: 10px;
  //    text-align: center;
  //    border: 1px solid black;
  //
  //    & > thead {
  //      border-bottom: 1px solid black;
  //    }
  //  }
  //}
}
