@import '../../../../styles/variables';

.preset-loader-dialog {
  //min-heigh: 50vh;
  //max-height: 75vh;
  //min-width: 75vw;
  //max-width: 95vw;
}

.preset-loader-dialog-table-container {
  max-height: 70vh;
  overflow-y: scroll;
}

//.preset-loader-dialog-table {
//  width: 100%;
//}
//
//.preset-loader-dialog-table-body {
//  display: block;
//  width: 100%;
//  min-heigh: 50vh;
//  min-width: 75vw;
//  overflow-y: scroll;
//  -webkit-overflow-scrolling: touch;
//}

.preset-loader-dialog-row {
  cursor: pointer;
  //display: flex;
  //width: 100%;

  :hover {
    background-color: lighten($primary, 33%);
  }
}

//.preset-loader-dialog-row-label {
//  flex: 1;
//  line-height: 2.5em;
//}
//
//@media screen and (max-width: 992px) {
//  .preset-loader-dialog {
//    .modal-content {
//      top: 0;
//      right: 0;
//      bottom: 0;
//      left: 0;
//      display: fixed;
//      max-height: 100vh;
//    }
//  }
//}
