@import './variables';

@mixin horizontal-scroll-shadow($shadow-color: rgba($black, 0.33), $shadow-width: 33px) {
  // prettier-ignore
  background:
    linear-gradient(90deg, $white 0%, transparent),
    linear-gradient(-90deg, $white 0%, transparent) 100% 0,
    linear-gradient(90deg, $shadow-color, transparent),
    linear-gradient(-90deg, $shadow-color, transparent) 100% 0;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100px 100%, 100px 100%, $shadow-width 100%, $shadow-width 100%;
}
