@import '~typeface-source-sans-pro/index.css';
@import './font-family-system';

@import './variables';
@import './bootstrap';
@import './theme';

@import '~@devexpress/dx-react-grid-bootstrap4/dist/dx-react-grid-bootstrap4.css';

@import './react-dates';

@import './animate';

@import './katex';

@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';

html,
body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  // HACK: workaround for bootstrap modal adding padding-right when open
  padding: 0 !important;

  @media not print {
    background-color: $body-background;
  }
}

.container.absolute {
  position: absolute;
  top: 100px;
  width: 100%;
  padding: 0;
}

nav {
  width: 100%;
  padding: 0;
}

.progress {
  @include box-shadow(none);
  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

code {
  padding: 2px 4px;
  background-color: #ccc;
  border: 1px solid #aaaa;
  border-radius: 2px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.blockquote {
  display: flex;
  min-height: 80px;
  padding: 5px 10px;
  background-color: $blockquote-bg-color;

  > p {
    margin: auto;
  }
}

// Always show spinbox arrows in Chrome
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

.icon-rotate-0 {
  transition: transform linear 0.25s;
}

.icon-rotate-90 {
  transition: transform linear 0.25s;
  transform: rotate(-90deg);
}

.icon-rotate-180 {
  transition: transform linear 0.25s;
  transform: rotate(180deg);
}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
}

.recharts-tooltip-wrapper {
  z-index: 999;
}

// rechart <Scatter /> elements can cause the tooltip to hide. (and appear with
// a payload it cannot handle). So they are set to ignore mouse events.
// https://github.com/neherlab/covid19_scenarios/issues/234#issuecomment-612294282
.recharts-scatter-symbol {
  pointer-events: none;
}

.truncate-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hide-native-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.body-color {
  color: $body-color;
}

.text-decoration-none {
  text-decoration: none;
}

.table-layout-fixed {
  table-layout: fixed;
}

.fixed-bottom {
  position: fixed;
  bottom: 30px;
  z-index: 100;
}

.btn-shadow {
  box-shadow: 4px 4px 10px 1px #222;
}

@import './components/AgeGroupParameters.scss';
@import './components/CaseCountsUploader.scss';
@import './components/DeterministicLinePlot.scss';
@import './components/Disclaimer.scss';
@import './components/Footer.scss';
@import './components/FormHelpButton.scss';
@import './components/LanguageSwitcher.scss';
@import './components/Layout.scss';
@import './components/Loading.scss';
@import './components/Main.scss';
@import './components/MitigationTable.scss';
@import './components/ModalButtonExport.scss';
@import './components/ModalButtonSharing.scss';
@import './components/NavigationBar.scss';
@import './components/OutcomesDetailsTable.scss';
@import './components/Popover.scss';
@import './components/PrintPreview.scss';
@import './components/ResponsiveTooltipContent.scss';
@import './components/ResultsCard.scss';
@import './components/ScenarioLoader.scss';
@import './components/ScenarioTitle.scss';
@import './components/SimulationControls.scss';
@import './components/SpinBox.scss';
