@import '~typeface-source-sans-pro/index.css';
@import './font-family-system';

@import './variables';

@import './bootstrap';

@import '~@devexpress/dx-react-grid-bootstrap4/dist/dx-react-grid-bootstrap4.css';

@import './react-dates';

@import './animate';

@import './katex';

html {
  overflow-y: scroll;
}

body {
  background-color: #eeeeee;
  // HACK: workaround for bootstrap modal adding padding-right when open
  padding: 0 !important;
}

// TYPOGRAPHY
h2,
h3 {
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  color: $black;
  font-size: 28px;
  letter-spacing: 0.49em;
}

h3 {
  color: $black;
  font-size: 20px;
}

.card h3 {
  color: $white;
}

.card.card--results h3 {
  color: $black;
  margin-bottom: 0;
  margin-top: 1em;
}

.container.absolute {
  position: absolute;
  top: 100px;
  width: 100%;
  padding: 0;
}

nav {
  width: 100%;
  padding: 0;
}

.progress {
  @include box-shadow(none);
  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

code {
  padding: 2px 4px;
  background-color: #ccc;
  border: 1px solid #aaaa;
  border-radius: 2px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.blockquote {
  display: flex;
  min-height: 80px;
  padding: 5px 10px;
  background-color: $blockquote-bg-color;

  > p {
    margin: auto;
  }
}

// STRUCTURE ELEMENTS
.card {
  background-color: transparent;
  border: 1px solid #aaaa;
  border-radius: 3px;
  // margin-top: 15px;
}

.card-header {
  background-color: $black;
  padding: 8px 4px;
  border-radius: 3px;
}

.card-header label {
  margin: 0;
}

.card-header p {
  color: $white;
}

.card-header-button {
  width: 100%;
  height: 100%;
}

.card-body {
  padding: 1rem;
  border-radius: 3px;
}

.card--main {
  border: none;
  margin-top: 30px;

  & > .card-header {
    background-color: transparent;
    border-bottom: 3px solid $black;
    min-height: 3em;
    padding-left: 0;
  }

  & > .card-body,
  & > .collapse > .card-body {
    margin-top: 10px;
    padding: 0;
  }
}

.card--results {
  & > .card-body,
  & > .collapse > .card-body {
    background-color: $white;
    border: 1px solid $black;
    margin-top: 20px;
    padding: 1rem;
  }
}

//HELP CARDS
.card--help {
  .card-body {
    line-height: 1.2;
    border-radius: 3px;

    p {
      margin: 0;
      text-align: left;
      color: initial;
    }

    h4 {
      font-weight: bold;
      font-size: 110%;
    }
  }
}

//FORMs
.card--population,
.card--epidemiology {

  border-radius: 3px;
  border-color: #7a7a7a;

  .card-body .row {
    align-items: center;
    display: flex;
    margin-bottom: 0.5em;
  }
}

// Always show spinbox arrows in Chrome
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon-rotate-0 {
  transition: transform linear 0.25s;
}

.icon-rotate-90 {
  transition: transform linear 0.25s;
  transform: rotate(-90deg);
}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
}

.recharts-tooltip-wrapper {
  z-index: 999;
}
