@import '~typeface-source-sans-pro/index.css';
@import './font-family-system';

@import './variables';

@import './bootstrap';

@import '~@devexpress/dx-react-grid-bootstrap4/dist/dx-react-grid-bootstrap4.css';

@import './react-dates';

@import './animate';

@import './katex';

html {
  overflow-y: scroll;
}

body {
  // HACK: workaround for bootstrap modal adding padding-right when open
  padding: 0 !important;
}

.container.absolute {
  position: absolute;
  top: 100px;
  width: 100%;
  padding: 0;
}

nav {
  width: 100%;
  padding: 0;
}

.progress {
  @include box-shadow(none);
  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

code {
  padding: 2px 4px;
  background-color: #ccc;
  border: 1px solid #aaaa;
  border-radius: 2px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.blockquote {
  display: flex;
  min-height: 80px;
  padding: 5px 10px;
  background-color: $blockquote-bg-color;

  > p {
    margin: auto;
  }
}

.card {
  border-radius: 2px;
}

.card-header {
  padding: 8px 4px;
}

.card-header-button {
  width: 100%;
  height: 100%;
}

.card-body {
  padding: 4px 6px;
}

// Always show spinbox arrows in Chrome
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon-rotate-0 {
  transition: transform linear 0.25s;
}

.icon-rotate-90 {
  transform: rotate(-90deg);
  transition: transform linear 0.25s;
}
