
/*

This file sets all needed CSS to have nice things to print out
directly from the browser (or say, export as PDF)

Note that if you want to prevent an element from being printed
you can just add the CSS class "d-print-none"

On the contrary, if you want to set an element that will be only
printed, but never displayed, you want use both classes : 
"d-none d-print-block"

More info on https://getbootstrap.com/docs/4.0/utilities/display/

*/

@media print 
{
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }

  body {
      background-color: #FFF;
      padding-top:15mm;
      margin: 15mm;
  }

  .formValueForPrint {
    color: #343a40;
    margin-top: 5px;
  }

  .formLabelForPrint {
    max-width: 200px;
  }

  .formInputForPrint {
    margin: 0;
    border: 0;
    box-shadow: none;
  }

  .formColForPrint {
    width: 200px;
  }

  .DateRangePickerInput__withBorder {
    border-radius: 0;
    border: 0;
  }

  .card--main {
    page-break-before: always;
  }

  .p-break-after {
    page-break-after: always;
  }

  .p-break-before {
    page-break-before: always;
  }

  .p-margin-top {
    margin-top: 50px;
  }

  .severity-table table {
    // 700 = the point at which the titles break for english
    // !important because react-grid assigns a width to the table element
    min-width: 500px !important;
  }

  .card-body {
    border: 0 !important;
  }

  .icon-rotate-0 {
    display: none;
  }

  .card-header p {
    display: none;
  }

  .p-logo {
    width: 100%;
  }

  .p-logo > img {
    width: 10cm;
    height: 10cm;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1cm;
  }

  .h-100 {
    height: auto !important;
  }

  .modal-backdrop {
    background-color: #ffffff;
  }

  .modal-backdrop.show {
    display: none;
  }

}