.loading-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .spinner-border {
    width: 6rem;
    height: 6rem;
    animation-duration: 1.5s;
  }
}
