@import '../../../styles/variables';

$input-padding: 4px;

.mitigation-table {
  .form-group {
    padding: 4px 2px;
    margin-bottom: 10px;
    border: $gray-500 solid 1px;
  }

  .table-controls {
    display: flex;
    justify-content: flex-end;
  }
}

.mitigation-interval {
  display: flex;
  width: 100%;

  > .inputs {
    display: flex;
    flex-grow: 1;
    margin-right: $input-padding;
  }

  &.narrow > .inputs,
  &.very-narrow > .inputs {
    flex-direction: column;
  }

  .mitigation-value {
    width: auto;
  }

  > .inputs > * {
    margin-right: $input-padding;

    &:last-child {
      margin-right: 0;
    }
  }

  &.wide .DateRangePickerInput,
  &.narrow .DateRangePickerInput {
    // stop the date range from wrapping the dates.
    // but not for very narrow views where it would cause overflow.
    width: max-content;
  }

  .DateInput_input {
    // make the date range input similar to bootstrap inputs
    height: calc(1.5em + 0.75rem + 1px);
  }

  &.narrow > .inputs > :not(:last-child),
  &.very-narrow > .inputs > :not(:last-child) {
    margin-bottom: 4px;
  }
}
