@import '../../../styles/variables';

.mitigation-table .form-group {
  border: $gray-500 solid 1px;
  padding: 4px 2px;
  margin-bottom: 10px;
}

.mitigation-interval {
  display: flex;
  width: 100%;
}

.mitigation-interval > .inputs {
  display: flex;
  flex-grow: 1;
}

.mitigation-interval.narrow > .inputs,
.mitigation-interval.very-narrow > .inputs {
  flex-direction: column;
}

.mitigation-interval > .inputs > * {
  flex-grow: 1;
}

.mitigation-interval > .inputs > .item-date-range-value-group {
  display: flex;
}

.mitigation-interval.wide .DateRangePickerInput,
.mitigation-interval.narrow .DateRangePickerInput {
  // stop the date range from wrapping the dates.
  // but not for very narrow views where it would cause overflow.
  width: max-content;
}

.mitigation-interval > .inputs > .item-date-range-value-group > .item-value {
  width: auto;
}

.mitigation-interval .DateInput_input {
  // make the date range input similar to bootstrap inputs
  height: calc(1.5em + 0.75rem + 1px);
}

.mitigation-interval > *:not(:last-child),
.mitigation-interval.wide > .inputs > :not(:last-child),
.mitigation-interval > .inputs > .item-date-range-value-group > :not(:last-child) {
  margin-right: 4px;
}

.mitigation-interval.narrow > .inputs > :not(:last-child),
.mitigation-interval.very-narrow > .inputs > :not(:last-child) {
  margin-bottom: 4px;
}

.mitigation-table .table-controls {
  display: flex;
  justify-content: flex-end;
}
