<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.vars.title %></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="This tool uses a mathematical model to simulate a variety of COVID-19 outcomes based on user-defined parameters"/>
    <!-- Open Graph general -->
    <meta name="og:title" content="COVID-19 Scenarios">
    <meta name="og:description" content="This tool uses a mathematical model to simulate a variety of COVID-19 outcomes based on user-defined parameters">
    <meta name="og:type" content="website">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
