@use "sass:map";

@import '../../../styles/variables';
@import '../../../styles/bootstrap-variables';

$lg: map.get($grid-breakpoints, 'lg');

#scenario-loader-modal {
  width: 90vw;
  max-width: 1200px;
}

.preset-loader-dialog-table-container {
  height: 75vh;
  overflow-y: scroll;
}

.scenario-loader-row {
  cursor: pointer;

  ::selection,
  :active,
  :hover {
    background-color: lighten($primary, 33%);
  }
}

.preset-loader-button {
  @media screen and (max-width: $lg) {
    width: 100%;
  }
}

.upload-zone {
  min-height: 100px;
  cursor: pointer;
  border: 5px $secondary dashed;

  &.upload-zone-active {
    border: 5px $secondary dotted;
  }
}
