@use "sass:map";

@import '../../../styles/variables';
@import '../../../styles/bootstrap-variables';

$lg: map.get($grid-breakpoints, 'lg');

#scenario-loader-modal {
  width: 90vw;
  max-width: 1200px;
  height: 75vh;
  max-height: 75vh;

  .modal-content {
    display: flex;
    height: 100%;
  }

  .modal-body {
    height: available;
  }

  p {
    text-align: left;
  }
}

.scenario-loader-section {
  height: 100%;
}

.scenario-loader-row {
  cursor: pointer;

  ::selection,
  :active,
  :hover {
    background-color: lighten($primary, 33%);
  }
}

.preset-loader-button {
  @media screen and (max-width: $lg) {
    width: 100%;
  }
}

$upload-zone-fg: $gray-600;
$upload-zone-bg: $gray-100;

.upload-zone {
  min-height: 100px;
  cursor: pointer;
  background-color: $upload-zone-bg;
  border: 5px $upload-zone-fg dashed;

  &.upload-zone-active {
    border-style: dotted;
  }
}

.upload-icon {
  fill: $upload-zone-fg;
}

.scrollable {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
